@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

:root{
    --cor0:#5F2CE8;
    --cor2:#b49c94;
    --cor1:#309DFF;
    --cor4:#2C5EE8;
    --cor5:#808080;
    --cor6:#3c3cff;

    --font-padrao:Arial, Verdana, Helvetica, Sans-serif;   
    --font--titulo:'Mochiy Pop P One', sans-serif;
    --font-robo:'Roboto', sans-serif;
    --font-robo2:'Mochiy Pop P One', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: var(--cor6);
    font-family: var(--fonte-padrao);
}
header{
    background-color: #FFFFFF;
    min-height: 81px ;
    text-align: center;
    padding-top:  20px; 
}
header > picture > img{
    left: 1%;
    top: 2%;
    margin: auto;
    position: absolute;
}
 picture{
    margin-top: 10px;
}
header > h1{
    color: black;
    font-family: var(--font--titulo);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.502);
    position: relative;
    
}
nav{
    background-color: #FFFFFF;
    padding: 10px;
    text-align: left;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
}
nav > a{
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition-duration: .4s;
}
nav > a:hover{
    background-color: var(--cor1);
    color: white;
}
main{
    background: #FFFFFF;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1{
    color: black;
    font-family: var(--font-robo2);
    font-weight: normal;
    font-size: 1.8em;
    padding: 10px;
}

div{
    width: 286px;
    height: 199px;
    margin-left: 20px;
    display: inline-block;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px hsla(0, 0%, 0%, 0.39);
}
div.video3{
   left: 714px;
}
div.video2{
    left: 400px;
 }
div.video > iframe{
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    width: 300px;
    height: 240px;
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px hsla(0, 0%, 0%, 0.39);
    

}
aside > h3{
    background-color: var(--cor1);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px ;
}
aside > p{
    margin: 15px 0px;
    text-align: justify;
    font-size: 1em;
    line-height: 1em;
    text-indent: 10px;
    margin-top: 5px;
}
footer{
    background-color: white;
    color: white;

    text-align: center;
    font-size: 23px;
    padding: 10px;
}
footer a{
    color: var(--cor4);
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1)
}
footer img a{
    padding-left: 50px;
}